<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.detection">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- Hanium SOS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 위치 권한 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 파일쓰기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 녹음 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- MessageManager -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="아이휠"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppFullScreenTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetectorActivity"
            android:label="@string/tfe_od_app_name"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppFullScreenTheme">

        </activity>
        <activity
            android:name=".ChangeTypeActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".EmergencyActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".FindPasswordActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".UserInfoActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".PhoneListActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".MainGuardActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".AddGuardDialog"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".SettingMenu"
            android:theme="@style/AppFullScreenTheme" />
    </application>

</manifest>